body{
    background-color: #caf0f8;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0% 100%);
}
.main-color{
  color: #22577a; 
}
section .container {
    background-color: #F7F7F7;
}
section h1{
    color: #1b4965;
    text-shadow: 0 0 1px #22577a;
}
.section1 .form-floating .form-control , .section2 input{
    border-color: #62b6cb;
    color: #22577a;
}
.section1 .form-floating .form-control:focus , .section2 input:focus{
    border-color: #62b6cb;
    box-shadow: 0 0 10px #62b6cb;
  }
  .section1 .form-floating textarea{
    height: 80px; 
  }
  .button{
    --bs-btn-padding-x: 1.2875rem;
    --bs-btn-padding-y: .525rem;
    --bs-btn-font-size: 0.8125rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.1607rem;
  }
  .btn-2 , .btn-3{
  --bs-btn-color: #fff;
  --bs-btn-bg: #22577a;
  --bs-btn-border-color: #22577a;
  --bs-btn-hover-color: #22577a;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #22577a;
  transition: all 0.5s;
  }
  button i {
    color: #fff;
  }
  button:hover i{
    color: #22577a;
  }
  .btn-3{
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #22577a;
  }
  .section2 .card .card-img-top{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .section2 input:focus{
    box-shadow: 0 0 15px #9b9898;
  }
  .section2 input::placeholder{
    color: #22577a;
  }
  .section2 .card-img-top{
    height: 250px;
  }
  .section2 #rowData .index{
    background-color:#22577a ;
    color: #fff;
  }
  .section2 h3{
    font-size: 20px;
  }


